#hatter {
  background-image: url(kepek/hatter.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.szin {
  height: 100%;
  background-color: rgba(200, 200, 200, 0.97);
}

.leiras {
        text-align: justify;
        font-size: 0.8em;
        overflow: hidden;
        max-height: 5em; /* Változtathatod a szükséges magasságra */
        line-height: 1.5em; /* Az előzővel megegyező érték */
        cursor: pointer;
        transition: max-height 0.3s ease; /* Animáció hozzáadása */
      }
      
.leiras:hover {
        max-height: none;
        background: linear-gradient(transparent, white);
        pointer-events: none;
      }
      
.tipus {
    font-size: 1.2rem;
    color:brown;
    font-weight: bold;
    text-transform: uppercase;
}

.ar {
    font-size: 1.6rem;
    text-align: right;
    color:green;
}

nav {
  background-color: rgb(155, 155, 155);
}

footer {
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 20px;
}